<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h3>Detail Contact</h3>
      <% if(!detail) { %>
      <div class="alert alert-warning" role="alert">
        Data Not Found!
        <a href="/contact" class="alert-link">Back to Contact Page</a>
      </div>
      <% } else { %>
      <div class="card" style="width: 740px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="../<%= detail.img %>"
              class="card-img-top object-fit-cover rounded"
              height="250px"
              alt="<%= detail.name %>"
            />
          </div>
          <div class="col-md-8 align-content-center">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title"><%= detail.name %></h5>
              <p class="card-subtitle mb-3"><%= detail.email %></p>
              <div class="d-flex gap-2">
                <a href="/contact" class="btn btn-primary"
                  >Back to Contact Page</a
                >
                <a href="/contact/update/<%= detail.name %>" class="btn btn-warning"
                  >Update Contact</a
                >
                <a
                  href="/contact/delete/<%= detail.name  %>"
                  class="btn btn-danger"
                  onclick="return confirm('are u sure to delete this contact?')"
                  >Delete Contact</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
