<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Contact List</h1>
      <!-- add data -->
      <div class="d-flex mb-3 justify-content-between align-items-center gap-5">
        <a href="/add" style="width: 10em" class="btn btn-primary">
          Add Contact
        </a>
        <form action="/search" class="d-flex gap-2" method="post">
          <input
            class="form-control search-input"
            style="width: 20em"
            type="text"
            name="search"
            placeholder="Search Contact"
            aria-label="search contact"
          />
          <button type="submit" style="width: 5em" class="btn btn-primary">
            Search
          </button>
        </form>
      </div>
      <% if(typeof msg !== 'undefined' && msg.length > 0) {%>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= msg %>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <% } %>
      <% if(!allNotFavourite){%>
      <h3>Favourite</h3>
      <p>Note: to unfavourite contact, click the star-fill</p>

      <div class="card-scroll w-100" style=" overflow-x: auto;" >
      <div class="d-flex flex-row flex-nowrap w-100 gap-3">
        <% contacts.forEach(element => {
          if(element.isFavourite) {%>
            <a style="text-decoration: none;" href="/<%=element.name%>">
              <div style="width: 110px;" class="d-flex position-relative flex-shrink-0 p-2 px-3 flex-column justify-content-between align-items-center card border-0">
                <div class="d-flex flex-column gap-2 align-items-center mt-2">
                  <form action="/favourite/<%= element.name %>" method="post" style="height: 0" id="favouriteForm-<%= element.name %>">
                      <div class="form-check ps-0">
                        <input
                          class="form-check-input d-none"
                          type="checkbox"
                          name="isFavourite"
                          id="favourite-<%= element.name %>"
                          onchange="document.getElementById('favouriteForm-<%= element.name %>').submit();"
                          <%= element.isFavourite ? 'checked' : '' %>
                          />
                          <label style="right: 10px; top:5px" class="form-check-label z-3 position-absolute" for="favourite-<%= element.name %>">
                            <%- element.isFavourite ? '<i style="font-size: 1.9em; color:#F6BE30"  class="bi bi-star-fill"></i>' : '<i style="font-size: 1.9em;"  class="bi bi-star"></i>' %>
                            </label>
                        </div>
                  </form>
                  <img
                  src="<%= element.img %>"
                  class="rounded-circle max-h-25 object-fit-cover"
                  width="80px"
                  height="80px"
                  alt=""
                />
              <h5 class="mb-0"><%= element.name %></h5>
                </div>
               </div>
              </a>
            <%}});%>
            </div>
          </div>
        <% } %>
        <% if (contacts.length === 0) {%>      
              <h6 class="text-center text-danger">Data Is Empty</h6>
        <%} else{%> 
      <div
        class="table-responsive mt-3"
        style="height: 400px; overflow-y: auto"
      >
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Profile</th>
              <th scope="col">Name</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
           <% let index = 0;
             contacts.forEach((element) => { 
               if(element.isFavourite === false){%>
            <tr>
              <th scope="row"><%= (++index) %></th>
              <td>
                <img
                  src="<%= element.img %>"
                  class="rounded max-h-25 object-fit-cover"
                  width="50px"
                  height="50px"
                  alt=""
                />
              </td>
              <td><%= element.name %></td>
              <td>
                <div class="d-flex gap-2">
                  <form action="/favourite/<%= element.name %>" method="post" id="favouriteForm-<%= element.name %>">
                    <div class="form-check">
                      <input
                        hidden
                        class="form-check-input"
                        type="checkbox"
                        name="isFavourite"
                        id="favourite-<%= element.name %>"
                        onchange="document.getElementById('favouriteForm-<%= element.name %>').submit();"
                        <%= element.isFavourite ? 'checked' : '' %>
                      />
                      <label class="form-check-label" for="favourite-<%= element.name %>"><i style="font-size: 1.5em;" class=" bi bi-star "></i></label>
                    </div>
                  </form>
                  <a href="/<%=element.name%>"
                    ><i style="font-size: 1.5em; color: #0f0f0fdd;"  class="bi bi-info-circle"></i></a
                  >
                </div>
              </td>
            </tr>
            <% }});%>
          </tbody>
        </table>
      </div>
      <%}%> 
    </div>
  </div>
</div>
